<!DOCTYPE html>
<html>
<head>
  <title>Cast Zone</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav id="primary">
      <ul>
        <li class="active">
          <%= link_to zone_path do %>
            <span class="icon32 dashboard"></span>
            <%= t('dashboard') %>
          <% end %>
        </li>
        <li>
          <%= link_to zone_models_path do %>
            <span class="icon32 listicon"></span>
            <%= t('models') %>
          <% end %>
        </li>
        <li>
          <a href="#">
            <span class="icon32 tools"></span>
            <%= t('settings') %>
          </a>
        </li>
      
        <li>
          <a href="#">
            <span class="icon32 chart"></span>
            Charts
          </a>
        </li>
        <li class="bottom">
          <%= link_to destroy_root_session_path, method: :delete do %>
            <span class="icon32 quit"></span>
            <%= t('logout') %>
          <% end %>
        </li>
      </ul>
    </nav>
    
    <%= yield :sidebar %>
    
    <section id="maincontainer">
      <div id="main" class="container_12">
      
        <%= yield %>
      
      </div>
    </section>

</body>
</html>
